<!DOCTYPE html>
<html>

  <link href="/assets/css/sunburst.css" rel="stylesheet">
  <script src="/assets/js/jquery-1.11.2.min.js"></script>
  <script src="/assets/google-code-prettify/prettify.js"></script>
  <script type="text/javascript">
    $(function() {
        $("pre").addClass("prettyprint linenums");
        prettyPrint();
    });
  </script>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
